{% load static %}
{% load blog-tags %}

<div class="col-lg-4">
    <div class="blog_right_sidebar">
        <aside class="single_sidebar_widget search_widget">
            <form action="{% url 'blog:blog-page' %}" method='get'>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name='q' placeholder='Search Keyword'
                            onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Search Keyword'">
                        <div class="input-group-append">
                            <button class="btns" type="button"><i class="ti-search"></i></button>
                        </div>
                    </div>
                </div>
                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                    type="submit">Search</button>
            </form>
        </aside>

        <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Category</h4>

            {% get_cat as catygory %}
            <ul class="list cat-list">
                {% if catygory.exists %}
                    {% for cat in catygory %}
                        <li>
                            <a href="{{cat.get_absolute_url}}" class="d-flex">
                                <p>{{cat.name}}</p>
                                <p>({{cat.counterItem}})</p>
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li>
                        <a href="#" class="d-flex">
                            <p>Category None</p>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </aside>

        <!--aside Resent Post Includes-->
        
        {% get_recent_post %}

        <aside class="single_sidebar_widget tag_cloud_widget">
            <h4 class="widget_title">Tag Clouds</h4>

            {% get_tags as tags %}
            <ul class="list">
                {% for tag in tags %}
                    <li>
                        <a href="{{tag.get_absolute_url}}">{{tag.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </aside>

        <aside class="single_sidebar_widget instagram_feeds">
            <h4 class="widget_title">Instagram Feeds</h4>
            <ul class="instagram_row flex-wrap">
                <li>
                    <a href="#">
                        <img class="img-fluid" src="{% static 'assets/img/post/post_5.png' %}" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="img-fluid" src="{% static 'assets/img/post/post_6.png' %}" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="img-fluid" src="{% static 'assets/img/post/post_7.png' %}" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="img-fluid" src="{% static 'assets/img/post/post_8.png' %}" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="img-fluid" src="{% static 'assets/img/post/post_9.png' %}" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="img-fluid" src="{% static 'assets/img/post/post_10.png' %}" alt="">
                    </a>
                </li>
            </ul>
        </aside>

        <aside class="single_sidebar_widget newsletter_widget">
            <h4 class="widget_title">Newsletter</h4>

            <form action="#">
                <div class="form-group">
                    <input type="email" class="form-control" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                </div>
                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                    type="submit">Subscribe</button>
            </form>
        </aside>
    </div>
</div>